<!DOCTYPE html>
<htmL>
  <head>
  <title>About Me</title>

  </head>
</div>
  </div>
<!-- Wallpaper -->
<div class="container col-sm-12" style="background-image: url('https://1ykwpw-dm2306.files.1drv.com/y3mUqsCfQ_M0usANv4kmgT0-LrmolwIl-nnPuKeh4zXsG4msrXXsyvRua3C0sLi7Ef5gGk5qKL90LcP9fTMT8w4Qah5z8Kg1x0esKwfEBPZtruFrjOUM73pkS_qX-U1vuc_EsIPANyoW-DzPix7QAaWCrDFeP5qRO-0wTBJfSe7haE?width=1459&height=1436&cropmode=none'); "> 

<!-- Nathan -->
   <div class="col-sm-12">
     <div class="col-sm-3">
      <a class="thumbnail">
        <img src="https://03nqww.dm2301.livefilestore.com/y3micFYCaHKWddmDOJj_tDGEKV-drLKArgyjSN3VhDXCWDdLn6bSTEs2wxdaToU0TkOhpbPHIjslqLiMi4WzLVMT-PUH0WxhFjth6Bxc6YateKQB8QK71Y5t3OmZSJ_E7MUiO7ak-D7Uh_iJQ2oC7By3ZkGP9pxKdmRMUjE1DB_EA8?max-width=2760&max-height=2760&cropmode=none" class="img-circle img-responsive ">
      </a>
    </div>
      <div class="col-sm-7 text-center"><h2>Nathan Foster</h2></div>
      <div class="col-sm-7 text-center"><small> Full Stack Developer
    <p><a href="https://www.linkedin.com/in/nathanhfoster" target="_blank"><img src="http://icons.iconarchive.com/icons/designbolts/ios8-style-social/1024/Linkedin-icon.png" class="img-responsive img-thumbnail" ></a> </p></small></div>
    </div>
      
   </div>
   </div>
</htmL>
